@model List<ToDoQ.Models.ToDo>

<h1>@ViewData["Title"]</h1>

@if(Model.Count > 0)
{
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Criado em</th>
        <th scope="col">Data de entrega</th>
        <th scope="col">Finalizado em</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var toDo in Model)
      {
          <tr>
              <td>@toDo.Id</td>
              <td>@toDo.Title</td>
              <td>@toDo.CreateAt</td>
              <td>@toDo.Deadline</td>
              <td>@(toDo.FinishedAt.HasValue ? toDo.FinishedAt : "-")</td>
              <td>
                <a class="btn btn-success btn-sn">concluir</a>
                <a asp-controller="ToDoQ" asp-action="Edit" asp-route-id="@toDo.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-controller="ToDoQ" asp-action="Delete" asp-route-id="@toDo.Id" class="btn btn-danger btn-sm">Excluir</a>
              </td>
          </tr>
      }
    </tbody>
  </table>
}
else 
{
  <p>Nenhuma tarefa cadastrada</p>
}
<a asp-controller="ToDoQ" asp-action="Create" class="btn btn-primary">Nova Tarefa</a>